<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Catégorie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/AjouterCategorie.css')}}">
</head>
<body>
    <div class="container">
        <h1>Créer une Catégorie</h1>
        <form method="POST" class="category-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="category-name">{{ form.name.label }} :</label>
                {{ form.name(id="category-name", placeholder="Entrez ici") }}
                {% for error in form.name.errors %}
                    <span style="color:darkblue;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-buttons">
                <button type="submit" class="submit-button">Enregistrer</button>
                <button type="button">Annuler</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='JS/AjouterCategorie.js')}}"></script>
</body>
</html>
