<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Catégorie</title>
    <link rel="stylesheet" href="/Static/CSS/AjouterCategorie.css">
</head>
<body>
    <div class="container">
        <h1>Créer une Catégorie</h1>
        <form class="category-form">
            <div class="form-group">
                <label for="category-name">Nom de la catégorie :</label>
                <input type="text" id="category-name" name="category-name" placeholder="Entrez ici" required>
            </div>
            <div class="form-buttons">
                <p>Annuler</p>
                <button type="submit" class="submit-button">Enregistrer</button>
            </div>
        </form>
    </div>
</body>
</html>
