{% extends 'html/layout.html'%}


{%block  main%}

    <script>
        

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
 

    <script>
         var calendar = new Calendar(calendarEl, {
        dateClick: function() {
          alert('a day has been clicked!');
        }
      });
      calendar.on('dateClick', function(info) {
  console.log('clicked on ' + info.dateStr);
});
calendar.next();
document.getElementById('my-next-button').addEventListener('click', function() {
  calendar.next();
});
var calendar = new Calendar(calendarEl, {
  headerToolbar: { center: 'dayGridMonth,timeGridWeek' }, // buttons for switching between views

  views: {
    dayGridMonth: { // name of view
      titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' }
      // other view-specific options here
    }
  }
});
var calendar = new Calendar(calendarEl, {
  views: {
    dayGrid: {
      // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
    },
    timeGrid: {
      // options apply to timeGridWeek and timeGridDay views
    },
    week: {
      // options apply to dayGridWeek and timeGridWeek views
    },
    day: {
      // options apply to dayGridDay and timeGridDay views
    }
  }
});
calendar.getOption('locale');
calendar.setOption('locale', 'fr');

    </script>
    
    <div id='calendar'></div>
  

    {%endblock%}