{% extends 'html/layout.html' %}

{% block main %}

<div class="container">
    <h1>CATÉGORIES</h1>
    <div class="categories">
        {%for category in categories%}
        <div class="category-card">
            <img src="{{ url_for('static', filename='Images/cat.png') }}" alt="">
            <p>{{category.name}}</p>
            <div class="card-images">
                <a href="{{ url_for('edit_category', category_id=category.id) }}">
                    <img src="{{ url_for('static', filename='Images/upadate.png') }}" alt="Image 2">
                </a>
                <a href="{{ url_for('delete_category', category_id=category.id) }}">
                    <img src="{{ url_for('static', filename='Images/delete.webp') }}" alt="Delete">
                </a>
                
            </div>
        </div>
        {%endfor%}
      

        </div>
    </div>
    <a href="/categories"><img src="{{ url_for('static', filename='Images/+.jpg') }}" alt="Image en bas à droite" class="bottom-right"></a>
</div>
{% endblock %}
