{% extends 'html/layout.html' %}

{% block main %}

<div class="container">
    <h1>CATÉGORIES</h1>
    <div class="categories">
        <div class="category-card">
            <img src="{{ url_for('static', filename='Images/cat.png') }}" alt="">
            <p>categorie1</p>
            <div class="card-images">
                <a href="/modifierC"><img src="{{ url_for('static', filename='Images/upadate.png') }}" alt="Image 2"></a>
                <a href="/DeleteC"><img src="{{ url_for('static', filename='Images/delete.webp') }}" alt="Image 1"></a>
            </div>
        </div>
        <div class="category-card">
            <img src="{{ url_for('static', filename='Images/cat.png') }}" alt="">
            <p>categorie2</p>
            <div class="card-images">
                <a href="ModifierTache.html"><img src="{{ url_for('static', filename='Images/upadate.png') }}" alt="Image 2"></a>
                <a href="SupprimeTache.html"><img src="{{ url_for('static', filename='Images/delete.webp') }}" alt="Image 1"></a>
            </div>
        </div>

        </div>
    </div>
    <a href="/categories"><img src="{{ url_for('static', filename='Images/+.jpg') }}" alt="Image en bas à droite" class="bottom-right"></a>
</div>
{% endblock %}
