<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% if title== 'table'%}   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/tableau.css')}}">{%endif%}
    {% if title== 'categorie'%}   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/categorie.css')}}">{%endif%}
    {% if title== 'tache'%}   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/tache.css')}}">{%endif%}
    {% if title== 'rappel'%}   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/rappel.css')}}">{%endif%}
    {% if title== 'calendrier'%}   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/calendrier.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='JS/calendrier.js')}}">

    {%endif%}
    
    {% if title== 'aide'%}   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/aide.css')}}">{%endif%}
    {% if title== 'parametre'%}   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/parametre.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {%endif%}
</head>
</head>
<body>
    <header>
        <div class="sidebar">
        <h1>TO-DO-LIST</h1>
        <ul>
            <li><a href="#" class=" {% if title== 'table'%} active {%endif%}"><img src="" alt="">Tableau de bord</a></li>
            <li><a href="/templates/html/categorie.html" class=" {% if title== 'Categorie'%} active {%endif%}"><img src="../Images/" alt="">Catégories</a></li>
            <li><a href="tache.html" class=" {% if title== 'Tache'%} active {%endif%}">Tâches</a></li>
            <li><a href="rappel.html" class=" {% if title== 'Rappel'%} active {%endif%}">Rappels</a></li>
            <li><a href="calendrier.html" class=" {% if title== 'calendrier'%} active {%endif%}">Calendrier</a></li>
            <li><a href="aide.html" class=" {% if title== 'aide'%} active {%endif%}">Aide</a></li>
            <li><a href="parametre.html" class=" {% if title== 'parametre'%} active {%endif%}">Paramètres</a></li>
        </ul>
    </div>    
    <div class="main-content">
        <div class="icons">
            <a href="sidebar.html"><img src="{{ url_for('static', filename='Images/menu1.png') }}" alt="Menu"></a>
            <a href="tache.html"><img src="{{ url_for('static', filename='Images/2.png') }}" alt="Calendrier"></a>
            <img src="{{ url_for('static', filename='Images/agenda1.webp') }}" alt="Tâches">
            <a href="profil.html"><img src="{{ url_for('static', filename='Images/person2.jpg') }}" alt="Profil"></a>
        </div>
       
    </header>






    <main>
        {%block  main%}  {%endblock%}
    </main>

<footer>

</footer>



</body>
</html>