{% extends 'html/layout.html'%}


{%block  main%}
        <h2>Paramètre</h2>
        <ul class="menu-links">
            <li class="nav-link">
                <a href="Compte.html">
                    <i class='bx bxs-user'></i>
                    <span class="texts nav-text">Votre Compte</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="Theme.html">
                    <i class='bx bxs-paint'></i>
                    <span class="texts nav-text">Thème</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-search icon'></i>
                    <span class="texts nav-text">Recherche</span>
                </a>
            </li>
         
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-world'></i>
                    <span class="texts nav-text">Langue</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bxs-hide' style='color:#254d9c' ></i>
                    <span class="texts nav-text">Cache une tache</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bxs-bell-ring icon'></i>
                    <span class="texts nav-text">Active la Notification&Rappel</span>
                </a>
            </li>
           
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-lock' style='color:#254d9c' ></i>
                    <span class="texts nav-text">Modifier le mot de passe</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-calendar-check'></i>
                    <span class="texts nav-text">Calendrier</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-moon' style='color:#254d9c'  ></i>
                    <span class="texts nav-text">Mode Sombre</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bxs-trash'></i>
                    <span class="texts nav-text">Corbeille</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class='bx bx-power-off icon'></i>
                    <span class="texts nav-text">Déconnexion</span>
                </a>
            </li>
        </ul>
    
   </div>
 
    

    
</body>
</html>




<!-- cache<i class='bx bx-low-vision' style='color:#254d9c' ></i>
corbeille<i class='bx bxs-trash' style='color:#254d9c' ></i>
world<i class='bx bx-world' style='color:#254d9c' ></i>
user<i class='bx bxs-user' style='color:#254d9c' ></i>
enreg<i class='bx bx-check' style='color:#254d9c' ></i>
del<i class='bx bx-x' style='color:#254d9c' ></i>
password<i class='bx bx-lock' style='color:#254d9c' ></i>
...<i class='bx bx-dots-vertical-rounded' style='color:#254d9c' ></i>
calendrier<i class='bx bx-calendar-check' style='color:#254d9c' ></i>
home<i class='bx bx-home-alt-2' style='color:#254d9c' ></i>
theme<i class='bx bxs-paint' style='color:#254d9c' ></i>
cache<i class='bx bxs-hide' style='color:#254d9c' ></i>
mode<i class='bx bx-moon' style='color:#254d9c' ></i> -->
<!-- <i class='bx bx-sun'></i>soleil -->