<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer Catégorie</title>
    <link rel="stylesheet" href="/Static/CSS/SupprimeCategorie.css">
</head>
<body>
    <div class="container">
        <div class="delete-form">
            <h2>Voulez-vous supprimer cette catégorie ?</h2>
            <div class="form-buttons">
                <P>Annuler</P>
                <button type="button" class="delete-button">Supprimer</button>
            </div>
        </div>
    </div>
</body>
</html>
