<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Static/CSS/TacheSidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/Static/JS/sideba.js"></script>
</head>
<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image-text">
                    <img src="/Static/Images/logo.png" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="name">TO-DO-LIST</span>
                
                </div>

            </div>
        </header>
        <div class="menu-bar">
            <div class="menu">
            <li class="search-box">
                    <i class="bx bx-search icon"></i>
                    <input type="search" placeholder="Search...">
                </a>
            </li>  
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <a href="tableau.html"><i class="bx bx-home-alt icon"></i></a> 
                       <span class="text nav-text">Tableau de bord</span>
                    </a>
                </li>  
                <li class="menu-link">
                    <a href="#">
                        <a href="calendrier.html"><i class="bx bx-category icon"></i></a>
                       <span class="text nav-text">Catégories</span>
                    </a>
                </li>  
                <li class="menu-links">
                    <a href="#">
                          <a href="tache.html"><i class='bx bx-task icon'></i></a>
                      <span class="text nav-text">Tâches</span>
                    </a>
                </li>  
                <li class="nav-link">
                    <a href="#">
                         <a href="rappel.html"><i class="bx bx-bell icon"></i></a>
                      <span class="text nav-text">Rappel</span>
                    </a>
                </li>  
                <li class="menu-link">
                    <a href="#">
                        <i class="bx bx-calendar icon"></i>
                        <a href="calendrier.html"><span class="text nav-text">Calendrier</span></a>
                    </a>
                </li> 
                <li class="menu-link">
                    <a href="#">
                        <i class="bx bx-question-mark bx-tada bx-flip-horizontal icon"></i>
                        <a href="aide.html"><span class="text nav-text">Aide</span></a>
                    </a>
                </li> 
                <li class="menu-link">
                    <a href="#">
                        <i class="bx bx-user icon"></i>
                        <a href="parametre.html"><span class="text nav-text">Paramètres</span></a>
                    </a>
                </li> 
                <li class="mode">
                    <div class="mode-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                    </div>
                   <span class="mode-text text">Mode Sombre</span>
                <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-content">
        <div class="icons">
            <a href=""><img src="/Static/Images/menu1.png" alt="Menu"></a>
            <a href="tache.html"><img src="/Static/Images/2.png" alt="Calendrier"></a>
            <img src="/Static/Images/agenda1.webp" alt="Tâches">
            <a href="profil.html"><img src="/Static/Images/person2.jpg" alt="Profil"></a>
        </div>
        <div class="container">
            <h1>Mes Tâches</h1>
            <div class="categories">
                <div class="category-card">
                    <img src="/Static/Images/stylo.png" alt="">
                    <p>tâche 1</p>
                    <div class="card-images">
                        <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                        <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                        
                    </div>
                </div>
                <div class="category-card">
                    <img src="/Static/Images/stylo.png" alt="">
                    <p>tâche 2</p>
                    <div class="card-images">
                        <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                        <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                        
                    </div>
                <div class="category-card">
                        <img src="/Static/Images/stylo.png" alt="">
                        <p>tâche 3</p>
                        <div class="card-images">
                            <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                            <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                            
                     </div>
                <div class="category-card">
                            <img src="/Static/Images/stylo.png" alt="">
                            <p>tâche 4</p>
                            <div class="card-images">
                                <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                                <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                                
                       </div>
                <div class="category-card">
                                <img src="/Static/Images/stylo.png" alt="">
                                <p>tâche 5</p>
                                <div class="card-images">
                                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                                    
                     </div>
                <div class="category-card">
                        <img src="/Static/Images/stylo.png" alt="">
                        <p>tâche 6</p>
                        <div class="card-images">
                            <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                            <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                            
                    </div>
                <div class="category-card">
                        <img src="/Static/Images/stylo.png" alt="">
                        <p>tâche 7</p>
                        <div class="card-images">
                            <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                            <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                        </div>   
                <div class="category-card">
                                <img src="/Static/Images/stylo.png" alt="">
                                <p>tâche 8</p>
                                <div class="card-images">
                                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                                    
                        </div>
               
                <div class="category-card">
                    <img src="/Static/Images/stylo.png" alt="">
                    <p>tâche 9</p>
                    <div class="card-images">
                        <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                        <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                        
                         </div>
        
                </div><div class="category-card">
                    <img src="/Static/Images/stylo.png" alt="">
                    <p>tâche 10</p>
                    <div class="card-images">
                        <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                        <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>
                    
            </div>
        </div>
        <a href="Ajoutertache.html"><img src="/Static/Images/+.jpg"alt="Image en bas à droite" class="bottom-right"></a>

    
</body>
</html>