<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégories</title>
    <link rel="stylesheet" href="/Static/CSS/tache.css">
</head>
<body>
    <div class="sidebar">
    <h1>TO-DO-LIST</h1>*
    <ul>
        <li><a href="tableau.html"><img src="" alt="">Tableau de bord</a></li>
        <li><a href="categorie.html">Catégorie</a></li>       
        <li><a href="#" class="active"><img src="../Images/" alt="">Tâches</a></li>

        <li><a href="rappel.html">Rappels</a></li>
        <li><a href="calendrier.html">Calendrier</a></li>

        <li><a href="aide.html">Aide</a></li>

        <li><a href="parametre.html">Paramètres</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="icons">
        <a href="sidebar.html"><img src="/Static/Images/menu1.png" alt="Menu"></a>
        <a href="tache.html"><img src="/Static/Images/2.png" alt="Calendrier"></a>
        <img src="/Static/Images/agenda1.webp" alt="Tâches">
        <a href="profil.html"><img src="/Static/Images/person2.jpg" alt="Profil"></a>
    </div>
    <div class="container">
        <h1>Mes Tâches</h1>
        <div class="categories">
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 1</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/upadate.png" alt="Image 1"></a>
                    
                </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 2</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>               </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 3</p>
                <div class="card-images">
                     <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                     <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>            </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 4</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>              </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 5</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>               </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 6</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>               </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 7</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>               </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 8</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>            
                </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 9</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>            </div>
            </div>
            <div class="category-card">
                <img src="/Static/Images/stylo.png" alt="">
                <p>tâche 10</p>
                <div class="card-images">
                    <a href="ModifierTache.html"><img src="/Static/Images/upadate.png" alt="Image 2"></a>
                    <a href="SupprimeTache.html"><img src="/Static/Images/delete.webp" alt="Image 1"></a>             </div>
            </div>
        </div>
    </div>
    <a href="Ajoutertache.html"><img src="/Static/Images/+.jpg" alt="Image en bas à droite" class="bottom-right"></a>
</body>
</html>
