body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 230px;
    background-color: rgb(63, 113, 177);
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h1 {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    color: azure;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    background-color: darkblue;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.icons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007BFF;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input[type="text"], input[type="date"] {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.task {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task h3 {
    color: #333;
}

.task p {
    margin: 5px 0;
    color: #666;
}

.header-title {
    display: flex;
    align-items: right;
    margin-top: auto;
    margin-right: 900px;

}

.logo {
    /* margin-right: 950px; */
    align-items: left;
    justify-content: left;
}

.banner {
    width: 6%;
    align-items: right;
    justify-content: right;
    height: auto;
    margin-bottom: 30px;
    margin-left: 900px;
}

.category-section {
    margin-bottom: 30px;
}

.category-section h2 {
    color:  rgb(63, 113, 177);
    border-bottom: 2px solid  rgb(63, 113, 177);
    justify-content: space-between;
    padding-bottom: 5px;
}

.task-list {
    margin-top: 10px;
}

.task-details p {
    margin: 5px 0;
}

.footer-image {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px; 
    height: auto;
}
