body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bdd5e6; /* Bleu clair */
}

.container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 550px;
}

.delete-form {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-form h2 {
    color: rgb(63, 113, 177);
    margin-bottom: 20px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spacing between buttons */
}

.cancel-button, .delete-button {
    background-color: rgb(63, 113, 177);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    display: inline-block; /* Ensure proper alignment */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.cancel-button:hover, .delete-button:hover {
    background-color: #297fb8; /* Bleu plus sombre au survol */
}
